<html>
  <head>
    <title>Password reset successful</title>
  </head>

  <body>
    <h2>Hey, <%= name %></h2>

    <p>
      Your password has been reset
    </p>

    <small>Task Manager</small>
  </body>
</html>